*{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0,0,0,0.7),rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url("./image/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
}
.climate img{ 
    width: 80px;
    height: 80px;
}
.d1 h1{
    font-size: 350%;
    line-height: 250%;
}
